<%- include("partials/header") %>


<form action="/daily" method="POST">
    <input type="date" name="date"><br>
    <input type="text" name="BPsys" placeholder="Systole"><br>
    <input type="text" name="BPdia" placeholder="Diastole"><br>
    <input type="text" name="BPpul" placeholder="Pulse"><br>
    <input type="text" name="o2" placeholder="O2 saturation"><br>
    <input type="text" name="temp" placeholder="temperature"><br>
    <input type="text" name="glucose" placeholder="Sugar"><br>
    <input type="time" name="sleepstart"><br>
    <input type="time" name="sleepend"><br>
    <input type="submit">
</form>
<%- include("partials/footer") %>
