<form action="/form" method="POST">
    <input type="text" name="age" placeholder="age">
    <input type="text" name="bloodtype" placeholder="blood group">
    <input type="text" name="meddis" placeholder="medical history">
    <label>Diabetic(yes/no)<input type="checkbox" name="diabetic"></label>
    <input type="text" name="height" placeholder="height">
    <input type="text" name="weight" placeholder="weight">
    <input type="submit">
</form>